

<h3> <%= @status[:word].join(" ") %> </h3>

<% if @message %>
<p> <%= @message %> </p>
<% end %>

<p> 
  <% num_wrong = @status[:incorrect_guesses].length %> 
  <%= "You have #{6-num_wrong} more incorrect guesses." %>
</p>

<p>
  Incorrect guesses: <br/>
  <%= @status[:incorrect_guesses].join(", ") %>
</p>
<form action="/game" method="post">
  <label for="guess">Guess a letter or attempt to guess the word: </label><br/>
  <input type="text" name="guess" id="guess" placeholder="Enter your guess here.">
  <input type="submit" value="Guess">
</form>
