<div class="game">
  <h2>You are so basic.</h2>
  <h2>You've probably never even heard of <strong><%= @status[:secret_word].join("") %></strong>.</h2>

  <a class="play" href="/game">Thirsty for more?</a>
</div>