<img class="icons" src="Full Hipster.svg" alt="Hipster icons">

<div class="game">  
  <h2>You're a real hipster!</h2>  
  <h2>You knew about <strong><%= @status[:secret_word].join("") %></strong> before it was cool.</h2>

  <a class="play" href="/game">Thirsty for more?</a>
</div>