body {
  display: block;
  margin: 0 auto; 
  font-family: 'Amatic SC', cursive;
  text-align: center;
  color: black;
  font-size: 25px; 
  font-weight: 700;
}

body::after {
  content: "";
  background-image: url("background.jpg");
  background-size: cover;
  opacity: 0.5;
  top: -45px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

h1 {
  display: block;
  margin: 0 auto;
  font-size: 90px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: lightslategray;
}